.thumbnail{
    width: 50%;
    border-radius: 10px;
    margin: 2px 2px;
}
#cart{
    padding: 10px;
    background-color: orange;
    border-radius: 10px;
}
.item{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
h1{
    text-align: center;
}